################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Polynomial
/PolynomialWork/obj
/WinFormsUI/bin/Debug/netcoreapp3.1
/WinFormsUI/obj
/.vs/PolynomialWork
/PolynomialWork/bin/Debug/netcoreapp3.1
/MatrixWork/obj
/MatrixWork/bin/Debug/netcoreapp3.1
/PSharpCompiler/bin/Debug/netcoreapp3.1
/PSharpCompiler/obj
